html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
	font-size: 16pt;
	font-family: 'Montserrat', serif;
	background-image: url('../images/wp7952942.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: 	#606060;
  }

header{
	justify-items: left;
	border-bottom: 3px solid white;
	background-color: #ddd;
	max-height: 85px;
  }

#logo {
	width: 66px;
	height:auto;
	border-radius: 10px;
	margin: 10px;
	display: inline;

}

nav{  
	text-align: right; 	
  }

nav ul{
	list-style-type: none;
	z-index: 1;
	position: absolute;
	top: 10px;
	right: 15px;
	
  }

nav li {
	display: inline;
	font-size: 16px;
	margin: 10px;
}

nav ul li a{
	color: rgb(60, 81, 90);
}
  
nav ul li a:hover, nav ul li a:focus{
	color: rgb(226, 145, 159);
	text-decoration: none;
	font-weight: bold;

}


nav ul li a:active{
	background-color:rgb(235, 123, 123);
}

nav ul li a.current{
	color: rgb(226, 145, 159);
	text-decoration: none;
	font-weight: bold;
	
}


p{
	font-size: 30px;
	margin: 20px;
	position:relative;
	top: 33px;
	font-weight: 500;
}


.pantone {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#sky{
	margin: 60px;
	width: 380px;

}

#halo {
	margin: 60px;
	width: 380px;

}

#coral {
	margin: 60px;
	width: 380px;

}

#tomato{
	margin: 70px;
	width: 400px;

}

#blue{
	margin: 30px;
	width: 400px;

}
#cookie{
	margin: 60px;
	width: 410px;
}

#sprinkles{
	margin: 80px;
	width: 410px;
}

#japan{
	margin: 80px;
	width: 410px;
}

#music{
	margin: 50px;
	width: 438px;
}

@keyframes logo {
    from {
        width: 10px;
        opacity: 0;
    }
    to {
        width: 66px;
        opacity: 1;
    }
}

#logo {
    animation-name: logo; 
    animation-duration: 3s;
    animation-iteration-count: 1; 

}

h1{
	text-align: center;
}

footer {
	font-size: 10px;
	width:100%;
	text-align:center;
	height: 20px;
	position: relative;
	bottom: 0px;
	left: 0px;

  }

  /* Contact Page */

  .contact {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
  }

  #contact {
	bottom: -40px;
	width: 250px;
  }

  .info p{
	  font-size: 30px;
	  font-weight: 350;
	  text-align: center;
  }

/* Playlist page */


p.two{
	font-size: 20px;
	margin: 30px;
	position:relative;
	top: 10px;
	font-weight: 300;
	text-align: center;
}

.albums {
	display: flex;
    flex-direction: column;
	justify-content: left;
}

#albums {
	margin: 20px;
	width: 400px;
	position: relative;
	bottom: -90px;

}

.donsongs {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	align-items: flex-end;

}

#don1 {
	margin: 57px;
	width: 206px;
	bottom: 450px;
	position:relative;
}

#don2 {
	margin: 60px;
	width: 200px;
	bottom: 540px;
	position: relative;

}
#don3 {
	margin: 61px;
	width: 200px;
	bottom: 633px;
	position: relative;

}
#don4 {
	margin: 61px;
	width: 200px;
	bottom: 740px;
	position: relative;

}

/* Shop Page */

.shopping{
  display: grid;
  grid-template-rows: repeat (6, auto);
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row;
  grid-row-gap: 120px;
  justify-content: space-evenly;
}

#japanblack{
	max-height: 400px; 
	overflow: hidden;
	width: 100%;

}

#japanwooden{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#japanwhite {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#coralblack {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#coralwood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;

}

#coralwhite {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#haloblack{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#halowooden{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#halowhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#cloudsblack {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#cloudswood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}

#cloudswhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
#nb{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
#noteswood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
#noteswhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
#sprinklesb{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
#sprinkleswood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
#sprinkleswhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
